{{ define "header"}}
<!doctype html>
<head>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<html>
    <title>Hello World</title>
{{end}}